@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body{
    background-image: url("../images/Alterar-o-papel-de-parede-da-tela-de-login-do.jpeg");

}

h1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 400px;
}

form{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

button{
    height: 50px;
    width: 100px;
    border-radius: 10px;
    font-size: 15px;
    cursor: pointer;
    outline: none;
    transition: all .4s ease-out;
}

button:hover{
    background-color: gray;
}